[requires]
python_version = "2.7"

[packages]
numpy = "==1.13.3"
scikit-learn = "==0.19.0"
scipy = "==0.19.1"
Theano = "==0.7.0"

[dev-packages]
pylint = "*"
matplotlib = "*"

[scripts]
network1 = "python src/network.py"
